<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jumpeak"
        tools:targetApi="31">
        <activity
            android:name=".firstStep.SubActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstStep.SoftSkillActivity"
            android:exported="false" />
        <activity
            android:name=".firstStep.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".firstStep.PlaceWorkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SlashActivity"
            android:exported="false" />
        <activity
            android:name=".reg.RegEmailActivity"
            android:exported="false" />
        <activity
            android:name=".firstStep.HardSkillActivity"
            android:exported="false"/>
        <activity
            android:name=".firstStep.ProfessionActivity"
            android:exported="false"/>
        <activity
            android:name=".firstStep.LetsGoActivity"
            android:exported="false" />
        <activity
            android:name=".auth.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".reg.RegSecondPassActivity"
            android:exported="false" />
        <activity
            android:name=".reg.RegFirstPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
    </application>

</manifest>